body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #CCD5AE;
    color:#256993;
    display:grid;
    grid-template-columns:20vw 80vw;
    height:100vh;
    width:100vw;
    margin:0;
}

aside{
    background-color: #E9EDC9;
    grid-column:1;
    grid-row:1/4;
    width:100%;
}

aside ul{
    list-style-type: square;
}

header{
    grid-column:2;
    grid-row:1;
}

main{
    display:flex;
    flex-wrap: wrap;
    width:78vw;
}

textarea{
    grid-row:2;
    grid-column:2;
    padding:15px;
    flex-basis:100%;
    border: 3px solid #4e9ae6;
    background-color: #E9EDC9;
    border-radius: 5px;
    margin-left: 1vw;
}

.UpMain{
    display:flex;
    flex-wrap:wrap;
    width:77vw;
    margin-left: 1vw;
}

.UpMain > *{
    flex-basis: 100%;
}

header nav{
    display:flex;
    justify-content: flex-end;
    gap:1vw;
}

.TopButton{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
}

.BotButton{
    margin-top: 1vw;
    display:flex;
    flex-basis:77vw;
    gap:10px;
    justify-content:flex-end;
    align-items: flex-start;
    margin-left: 1vw;
}

footer{
    grid-row:3;
    grid-column:2;
    display:flex;
    flex-wrap: wrap;
    width:78vw;
    justify-content: center;
}

footer a{
    height:10%;
}
footer h1{
    flex-basis:100%;
    margin-bottom:0;
    padding-bottom:0;
}

#NewNote{
    background-color:#375F68;
}

#DarkTheme{
    background-color: #56536A;
}

#Save{
    background-color: #375F68;
}

#Cancel{
    background-color: #9B332C;
}

button{
    border-radius: 8px;
    color:#FAF4EC;
    padding:10px;
}

h1,h2{
    text-align: center
}   

@media(max-width:768px){
    aside{
        grid-row: 1;
        width:auto;
        margin-right: 0;
    }

    header{
        grid-row:2;
    }

    .UpMain{
        width: auto;
    }
    header nav{
        width:97%;
    }
    .TopButton{
        margin:10px;
    }
    
    .BotButton{
        flex-basis:95%;
    }

    main{
        grid-row:3;
        width:auto;
    }

    footer{
        grid-row:4;
        grid-column:1;
        width:auto;
    }

    body{
        grid-template-columns:1fr;
    }
}