body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #CCD5AE;
    color:#256993;
}

aside{
    background-color: #E9EDC9;
}
.NewNote{
    background-color:#375F68;
}

.DarkTheme{
    background-color: #56536A;
}

.Save{
    background-color: #375F68;
}

.Cancel{
    background-color: #9B332C;
}

button{
    border-radius: 8px;
    padding: 10px;
    color:#FAF4EC;
}