body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #CCD5AE;
    color:#256993;
    display:grid;
    grid-template-columns:20vw 80vw;
    height:100vh;
    width:100vh;
}

aside{
    background-color: #E9EDC9;
    grid-column:1;
    grid-row:1/4;
    margin-right: 1vw;
}

aside ul{
    list-style-type: square;
}

header{
    grid-column:2;
    grid-row:1;
}

main{
    display:flex;
    flex-wrap: wrap;
}

textarea{
    grid-row:2;
    grid-column:2;
    padding:15px;
    flex-basis:95%;
    border: 3px solid #4e9ae6;
    background-color: #E9EDC9;
    border-radius: 5px;
}

.UpMain{
    display:flex;
    flex-wrap:wrap;
    width:77vw;
}

.UpMain > *{
    flex-basis: 100%;
}

header nav{
    display:flex;
    justify-content: flex-end;
    gap:1vw;
}

.TopButton{
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
}

.BotButton{
    margin-top: 1vw;
    display:flex;
    flex-basis:76vw;
    gap:10px;
    justify-content:flex-end;
    align-items: flex-start;
}
footer{
    grid-row:3;
    grid-column:2;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}

footer h1{
    flex-basis:100%;
    margin-bottom:0;
    padding-bottom:0;
}

#NewNote{
    background-color:#375F68;
}

#DarkTheme{
    background-color: #56536A;
}

#Save{
    background-color: #375F68;
}

#Cancel{
    background-color: #9B332C;
}

button{
    border-radius: 8px;
    color:#FAF4EC;
    padding:10px;
}

h1,h2{
    text-align: center
}   